@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');

.box-pesquisa button{
    background: #4EC596;
    border-radius: 30px;
    height: 51px;
    width: 180px;
}

.box-pesquisa{
    display: flex;
    width: 960px;
    justify-content: space-between;
}

.box-pesquisa div{
    width: 760px;
    background: #FFFFFF;
    border: 3px solid #B4BFBB;
    box-sizing: border-box;
    border-radius: 30px;
}

.box-pesquisa input{
    width: 90%;
    height: 100%;
    border-radius: 30px;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    padding: 0 0 0 10px;
}

.box-pesquisa input:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.banner-adm{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-container{
    background: linear-gradient(0deg, rgba(86, 232, 216, 0.52), rgba(86, 232, 216, 0.52)), url(../img/img-page-adm.png);
    border-radius: 30px;
    height: 354px;
    width: 92%;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.23));
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.banner-container div:nth-child(1){
    width: 100%;
    height: 74%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.abas{
    height: 51px;
    width: 85%;
    background-color: #4EC596;
    border-radius: 10px 10px 0px 0px;
}

.abas nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.abas a{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF
}

.cadastro{  
    height: 740px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-cadastro{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.container-cadastro input, .container-cadastro select{
    border: 3px solid #8A8A8A;
    box-sizing: border-box;
    border-radius: 10px;
    height: 59px;
    width: 580px;
}

.container-cadastro input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

.container-cadastro label{
    width: 80px;
}

.box-cadastro{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 58%;
    height: 335px;
}

.box-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 540px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.box-form form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 435px;
}

.box-cadastro label{
    font-family: Roboto;
    font-style: normal;
    font-weight: bolder;
    font-size: 20px;
}

.buttons-cadastro{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-cadastro button{
    border-radius: 10px;
    width: 194px;
    height: 60px;
    font-family: Poppins;
    font-style: normal;
    font-size: 26px; 
    font-weight: normal;
}

.buttons-cadastro button:nth-child(1){
    border: 4px solid #4EC596;
    box-sizing: border-box;
    color: #4EC596;
    background-color: transparent;
}

.buttons-cadastro button:nth-child(2){
    background: #4EC596;
    border-radius: 10px;
    color: #FFFFFF;
}

.buttons-cadastro div{
    display: flex;
    justify-content: space-between;
    width: 425px;
}

.btn-cadastrar{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.btn-cadastrar button{
    width: 340px;
    height: 72px;
    background: #4EC596;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
}

.buscas{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-buscas input{
    border-radius: 10px 0px 0px 10px;
    height: 100%;
    width: 90%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    padding-left: 10px;
}

.box-buscas input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}


.box-buscas{
    border-radius: 10px;
    width: 60%;
    display: flex;
    height: 75px;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.45);
}

.box-buscas div{
    background: #4EC596;
    border-radius: 0px 10px 10px 0px;
    height: 100%;
    width: 10%;
}

.container-buscas{
    display: flex;
    justify-content: space-between;
}

.container-buscas button{
    border-radius: 10px;
    background: #4EC596;
    width: 200px;
    height: 75px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: #FFFFFF;
}



.lista{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 1365px;
    align-items: center;
}

.status div:nth-child(1){
    background: #36936E;
    border-radius: 0px 0px 0px 10px;
    height: 100%;
    width: 197px;
}

.status div{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.status{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    height: 50px;
}

.status div:nth-child(2){
    border-radius: 0px 10px 0px 0px;
    background: #4EC596;
    width: 51px;
    height: 100%;
}

.tabela{
    width: 100%;
}

.tabela th{
    text-align: start;
}

.tabela tr{
    display: flex;
    align-items: center;
}

.inputUpdate{
    font-family: Roboto;
    font-size: 23px;
    font-style: normal;
    width: 125px;
}

.tabela th, td{
    font-family: Roboto;
    font-size: 23px;
    font-style: normal;
}

.tabela th{
    font-weight: bold;
}

.tabela td{
    padding-left: 10px;
}

.box-lista tbody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 665px;
}

.tabela{
    padding-left: 20px;
}

.tabela tr:nth-child(10){
    flex-direction: column;
    padding: 0;
    align-items: inherit;
}

.tabela textarea{
    border: 4px solid #C2C2C2;
    box-sizing: border-box;
    border-radius: 10px;
    width: 98%;
    height: 217px;
    resize: none;
    text-align: justify;
    padding: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}

.action{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}

.action button{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    background-color: transparent;
}

.action button:nth-child(1){
    color: #284EAE;
}

.action button:nth-child(2){
    color: #FF0000;
}

.action button:nth-child(3), button:nth-child(4){
    color: #6D6D6D;
}

.action button:nth-child(5){
    background-color: #bb2424;
}

.action button:nth-child(5), button:nth-child(6){
    width: 150px;
    height: 40px;
    border-radius: 10px;
    color:#FFFFFF
}

.action button:nth-child(6){
    background-color: #4EC596;
}




.action div{
    width: 350px;
    display: flex;
    justify-content: space-between;
}

h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 91px;
    text-transform: uppercase;
    color: #FFFFFF;
}


/*BLOCO MINIMIZADO - RASCUNHO-----------------------------------------------------*/


.box-lista2{
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    height: 200px;
    margin: 26px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width 10s, height 0.3s;
    
}

.box-lista{
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    height: 800px;
    margin: 26px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width 10s, height 0.5s;
}

.box-lista2 tbody{
    flex-direction:row;
    width: 100%;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    height: 100%;
    transition: width 10s, height 0.5s;
}


.atualizar select{
    display: block;
    font-family: Roboto;
    font-size: 23px;
    font-style: normal;
    background: #36936E;
    border-radius: 7px;
    color: #FFFFFF;
    height: 45px;
    outline: none;
}

.atualizar p{
    display: none;
}

.fecharAtualizar select{
    display: none;
}

.fecharAtualizar p{
    display: block;
}

.modal {
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 55%; 
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
  }

  .modal-content div:nth-child(1){
    font-weight: 800;
    font-size: 40px;
    color: #36936E;
  }

  .modal-content div:nth-child(3){
      height: 45px;
      display: flex;
      justify-content: flex-end;
  }

  .modal-content div:nth-child(3) div{
      width: 230px;
      display: flex;
      justify-content: space-between;
  }

  .modal-content button:nth-child(1){
    border: 3px solid #4EC596;
    box-sizing: border-box;
    border-radius: 10px;
    color: #4EC596;
    background: transparent;
  }

  .modal-content button:nth-child(2){
    background-color:#4EC596;
    box-sizing: border-box;
    border-radius: 10px;
    color: #FFFFFF;
  }

  .modal-content button{
      width: 100px;
      font-family: Poppins;
      font-weight: normal;
      font-style: normal;
    }

  .modal-content p{
    font-weight: normal;
    font-size: 25px;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.data{
    width: 100%;
    height: 1000px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data h2{
    font-family: 'Poppins';
    font-size: 91px;
    color: #4EC596;
    font-weight: normal;
    text-transform: uppercase;
}

.mapa{
    background-color: #36936E;
    width: 100%;
    border-radius: 30px;
    position: relative;
    height: 40vw;
    z-index: 0;
}


