@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');

*{
    padding:0;
    margin:0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

.grid{
    width: 75rem;
}

header{
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}

.user{
    height: 52px;
    width: 52px;
}

.container-header{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.container-header img:nth-child(1){
    width: 55px;
    height: 59px;
}

.container-header img:nth-child(3){
    border-radius: 50%;
}

.box-pesquisa button{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
}

footer{
    margin-top: 90px;
    box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.16);
    background: #FFFFFF;
    height: 91px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rodape{
    display: flex;
    justify-content: center;
}

.rodape span{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-transform: uppercase;
}