@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500;700&display=swap');

*{
    padding:0;
    margin:0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background-color: #FFFFFF;
    overflow-x: hidden;
    object-fit: cover;
}

header{
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}

.grid{
    width: 75rem;
}

.box-header{
    display: flex;
    justify-content: space-between;
}

.box-header img{
    width: 55px;
    height: 59px;
}

.box-header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 950px;
}

.box-header a, .box-header button{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: black;
}

.box-header a:nth-child(6), .box-header button{
    border: 3px solid #4EC596;
    border-radius: 41px;
    background: transparent;
    width: 170px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner{
    background: linear-gradient(90.14deg, #87FFDE -0.77%, rgba(86, 232, 216, 0.58) 36.75%, rgba(86, 232, 216, 0.38) 78.96%, rgba(12, 232, 217, 0.15) 99.27%, rgba(86, 232, 216, 0) 99.28%), url(../img/banner.png);
    width: 100%;
    background-attachment: fixed;
    height: 870px;
    border-radius: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner div{
    width: 90%;
    height: 545px;
}

.banner button{
    margin-top: 55px;
}

.h1-home, .banner p{
    font-family: Poppins;
    font-style: normal;
    color: #FFFFFF;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    width: 945px;
}

.h1-home{
    font-weight: 800;
    font-size: 90px;
    line-height: 135px;
}

.banner p{
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
}

.banner button{
    background: #61C8FF;
    border-radius: 50px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 54px;
    color: #FFFFFF;
    text-transform: uppercase;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.4));
    width: 244px;
    height: 69px;
}

.acoes{
    width: 100%;
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.acoes h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 120px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #52D6C0;
}

.box-acoes{
    width: 331px;
    height: 397px;
    left: 795px;
    top: 1393px;
    background: #FFFFFF;
    border-radius: 20px;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.4));
}

.box-acoes div{
    border-radius: 20px 20px 0px 0px;
    height: 209px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blocos{
    display: flex;
    justify-content: space-between;
}

.box2{
    background: linear-gradient(0deg, rgba(131, 252, 220, 0.49), rgba(131, 252, 220, 0.49)), url(../img/imagem-paciente.jpg);
    background-size: 331px 209px;
}

.box1{
    background: linear-gradient(0deg, rgba(131, 252, 220, 0.49), rgba(131, 252, 220, 0.49)), url(../img/imagem-medico.jpg);
    background-position: center;
    background-size: 332px 431px;
}

.box{
    background: linear-gradient(0deg, rgba(131, 252, 220, 0.49), rgba(131, 252, 220, 0.49)), url(../img/imagem-exames.jpg);
    background-position: center;
    background-size: 332px 431px;
}

.box-acoes span{
    width: 100%;
    height: 188px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #83FCDC;
}

.blocos a:hover, .box-consulta:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
}

.blocos a{
    transition: all 0.5s;
    cursor: pointer;
}

.box-consulta{
    background: linear-gradient(270.54deg, #52D6C0 50.47%, rgba(131, 252, 220, 0) 117.73%);
    height: 150px;
    width: 100%;
    border-radius: 20px;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.4));
    transition: all 0.5s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-consulta a{
    color: #DFDFDF;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 66px;
    line-height: 99px;
}

.container-acoes{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.sobre{
    height: 900px;
    background: linear-gradient(0deg, rgba(61, 155, 145, 0.35), rgba(61, 155, 145, 0.35)), url(../img/sobre.png);
    background-attachment: fixed;
    background-position: center;
    border-radius: 80px 0px 0px 80px;
    margin-left: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.texto-sobre h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 120px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.texto-sobre p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 75px;
    color: #FFFFFF;

}

.depoimentos{
    height: 575px;
    background-color: #4EC596;
    border-radius: 0px 80px 80px 0px;
    margin-right: 130px;
    margin-top: 200px;
    background: linear-gradient(0deg, rgba(21, 41, 39, 0.35), rgba(17, 41, 38, 0.35)), url(../img/imagem-depoimentos.png);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.depoimentos img{
    width: 103px;
    height: 103px;
    border-radius: 80px;
}

.dpoConteudo p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    line-height: 45px;
    font-size: 30px;
    color: #FFFFFF;

}

.dpoConteudo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alinhamento{
    display: flex;
    align-items: center;
}

.alinhamento p{
    margin-left: 20px;
}

.dpoConteudo h2{
    font-style: normal;
    font-weight: 500;
    font-size: 54px;
    line-height: 81px;
    font-family: Poppins;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
}

.box-depoimento{
    width: 75rem;
}

.fas{
    font-size: 80px;
    color: #FFFFFF;
}

.duvidas{
    height: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.duvidas h2{
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    font-size: 90px;
    line-height: 135px;
    font-family: Poppins;
    color: #000000;
    text-align: center;
}

.pergunta div:nth-child(1){
    background: linear-gradient(268.92deg, #60B3DA 49.07%, rgba(101, 208, 235, 0) 138.78%);
    border-radius: 9px;
    height: 130px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.5));
}

.pergunta div:nth-child(2){
    background: #FFFDFD;
    border-radius: 9px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    padding: 30px;
}

.pergunta p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: #000000; 
}

.pergunta h3{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 52px;
    font-family: Poppins;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px;
}

.box-perguntas{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 60px auto 60px auto;
}

.extra{
    height: 785px;
    border-radius: 0px 80px;
    background: linear-gradient(0deg, rgba(5, 151, 242, 0.56), rgba(5, 151, 242, 0.56)), url(../img/imagem-ambulancia.png);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.extra img{
    border-radius: 90px 90px 0px 90px;
    height: 556px;
    width: 578px;
}

.extra div:nth-child(1){
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.extra h2{
    font-weight: bold;
    font-size: 50px;
    
}

.extra h2, .p-extra {
    font-style: normal;
    font-family: Poppins;
    color: #FFFFFF;
}

.extra p{
    font-weight: normal;
    font-size: 32px;
    
}

.extra div:nth-child(2){
    width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30rem
}

.extra button{
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 40px;
    height: 80px;
    width: 381px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    background:transparent;
    color: #FFFFFF;
}

.localizacao{
    height: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-localizacao{
    display: flex;
    align-items: center;
}

.box-localizacao img{
    border-radius: 20px 0px 0px 20px;
    width: 720px;
    height: 569px;
}

.box-localizacao div:nth-child(2), .box-localizacao img{
    width: 720px;
    height: 569px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.forms-localizacao{
    flex-direction: column;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 0px 20px 20px 0px;
}

.forms-localizacao form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 170px;
}

.localizacao h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    text-transform: uppercase;
    color:#4EC596;
}

.forms-localizacao div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 345px;
}

.forms-localizacao h3{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    color: #000000;
}

.forms-localizacao input{
    border: 4px solid #323232;
    box-sizing: border-box;
    border-radius: 40px;
    height: 74px;
    width: 445px;
    font-family: Poppins;
    font-weight: 200;
    font-size: 30px;
    padding: 10px;
}

.forms-localizacao button{
    width: 445px;
    height: 74px;
    background: #4EC596;
    border-radius: 40px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #FFFFFF;
}

.elipse{
    position: absolute;
    width: 866px;
    height: 853px;
    top: 6000px;
    z-index: -1;
    left: 65vw;
}
