@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');


.box-pesquisa button{
    background: #66ADA5;
    border-radius: 30px;
    height: 51px;
    width: 180px;
}

.banner-pac{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-container-pac{
    background: linear-gradient(0deg, rgba(102, 173, 165, 0.52), rgba(102, 173, 165, 0.52)), url(../img/img-page-paciente.png);
    border-radius: 30px;
    height: 354px;
    width: 92%;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.23));
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.banner-container-pac div:nth-child(1){
    width: 100%;
    height: 74%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.abas-pac{
    height: 51px;
    width: 85%;
    background-color: #66ADA5;
    border-radius: 10px 10px 0px 0px;
}

.abas-pac nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.abas-pac a{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF
}

.buscas-pac{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-buscas-pac input{
    border-radius: 10px 0px 0px 10px;
    height: 100%;
    width: 90%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    padding-left: 10px;
}

.box-buscas-pac{
    border-radius: 10px;
    width: 60%;
    display: flex;
    height: 75px;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.45);
}

.box-buscas-pac div{
    background: #66ADA5;
    border-radius: 0px 10px 10px 0px;
    height: 100%;
    width: 10%;
}

.container-buscas-pac{
    display: flex;
    justify-content: space-between;
}

.container-buscas-pac button{
    border-radius: 10px;
    background: #66ADA5;
    width: 200px;
    height: 75px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: #FFFFFF;
}
